<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257923075382-c9hfurrb75tmj90a1ra1hapfpgtn8bnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257923075382-c9hfurrb75tmj90a1ra1hapfpgtn8bnd</string>
	<key>API_KEY</key>
	<string>AIzaSyBBg2vmQNWV-hIoIpiC5P1WD8BadkVGFgE</string>
	<key>GCM_SENDER_ID</key>
	<string>257923075382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tikesse.RTW</string>
	<key>PROJECT_ID</key>
	<string>readytowear-1f2f5</string>
	<key>STORAGE_BUCKET</key>
	<string>readytowear-1f2f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257923075382:ios:5e5fc8e47ca351c0123797</string>
</dict>
</plist>